In [0]:
#!pip install inflect --upgrade
#!pip install contractions
import pandas as pd
import numpy as np
import html
import re, string, unicodedata
import nltk
import inflect
import contractions
from bs4 import BeautifulSoup
from nltk import word_tokenize, sent_tokenize
from nltk.corpus import stopwords
from nltk.stem import LancasterStemmer, WordNetLemmatizer
from nltk.tokenize import RegexpTokenizer

# Part 1 - Working with Text Data

### Use Python string methods remove irregular whitespace from the following string:

In [9]:
whitespace_string = "\n\n  This is a    string   that has  \n a lot of  extra \n   whitespace.   "
print(whitespace_string)

  This is a    string   that has
 a lot of  extra
   whitespace.

In [33]:
 ##### Your Code Here #####
import re
whitespace_string = whitespace_string.replace('\n', ' ') # Use to remove carriage returns. 
whitespace_string = re.sub(' +', ' ', whitespace_string) # Remove excess whitespace. 
print(whitespace_string)

 This is a string that has a lot of extra whitespace.

### Use Regular Expressions to take the dates in the following .txt file and put them into a dataframe with columns for:

[RegEx dates.txt](https://github.com/ryanleeallred/datasets/blob/master/dates.txt)

- Day
- Month
- Year

In [100]:
##### Your Code Here #####
url = "https://raw.githubusercontent.com/ryanleeallred/datasets/master/dates.txt"
df = pd.read_csv(url, names = ["Month", "Day", "Year"], sep = "(?:,|\s)\s*",
                 header = None,  engine='python')
df = df[["Day","Month","Year"]]
df

    Day  Month  Year
0     8  March  2015
1    15  March  2015
2    22  March  2015
3    29  March  2015
4     5  April  2015
5    12  April  2015
6    19  April  2015
7    26  April  2015
8     3    May  2015
9    10    May  2015
10   17    May  2015
11   24    May  2015
12   31    May  2015
13    7   June  2015
14   14   June  2015
15   21   June  2015
16   28   June  2015
17    5   July  2015
18   12   July  2015
19   19   July  2015

# Part 2 - Bag of Words 

### Use the twitter sentiment analysis dataset found at this link for the remainder of the Sprint Challenge:

[Twitter Sentiment Analysis Dataset](https://raw.githubusercontent.com/ryanleeallred/datasets/master/twitter_sentiment_binary.csv)

 ### Clean and tokenize the documents ensuring the following properties of the text:

1) Text should be lowercase.

2) Stopwords should be removed.

3) Punctuation should be removed.

4) Tweets should be tokenized at the word level. 

(The above don't necessarily need to be completed in that specific order.)

### Output some cleaned tweets so that we can see that you made all of the above changes.

In [86]:
df = pd.read_csv("https://raw.githubusercontent.com/ryanleeallred/datasets/master/twitter_sentiment_binary.csv")
df.head()

   Sentiment                                      SentimentText
0          0                       is so sad for my APL frie...
1          0                     I missed the New Moon trail...
2          1                            omg its already 7:30 :O
3          0            .. Omgaga. Im sooo  im gunna CRy. I'...
4          0           i think mi bf is cheating on me!!!   ...

In [101]:
df = pd.read_csv("https://raw.githubusercontent.com/ryanleeallred/datasets/master/twitter_sentiment_binary.csv")
df.head()

### Denoise functions, apply to text ### 
def encode_decode(text):
    """Utility function to clean text by decoding HTML text."""
    unescaped = html.unescape(text)
    return unescaped

def remove_between_square_brackets(text):
    return re.sub('\[[^]]*\]', '', text)
  

def denoise_text(text):
    text = encode_decode(text)
    text = remove_between_square_brackets(text)
    return text


df['SentimentText'] = df['SentimentText'].apply(denoise_text)


### Normalizing functions, apply to tokenized lists ###
def remove_non_ascii(words):
    """Remove non-ASCII characters from list of tokenized words or string"""
    new_words = []
    for word in words:
        new_word = (unicodedata.normalize('NFKD', word)
                    .encode('ascii','ignore').decode('utf-8', 'ignore'))
        new_words.append(new_word)
    return new_words

  
def remove_punctuation(words):
    """Remove punctuation from list of tokenized words or string, also 
    lowercases every word.
    """
    new_words = []
    for word in words:
        new_word = re.sub(r'[^\w\s\_]|\_', '', word)
        new_word = new_word.lower()
        if new_word != '':
            new_words.append(new_word)
    return new_words

  
def replace_numbers(words):
    """Replace all interger occurrences in list of tokenized words or string 
    with textual representation.
    """
    p = inflect.engine()
    new_words = []
    for word in words:
        if word.isdigit():
            new_word = p.number_to_words(word)
            new_words.append(new_word)
        else:
            new_words.append(word)
    return new_words  
  
  
def normalize(words):
    words = remove_non_ascii(words)
    words = remove_punctuation(words)
    words = replace_numbers(words)
    #words = remove_stopwords(words)
    return words
  
#def remove_stopwords(words):
#    """Remove stop words from list of tokenized words"""
#    new_words = []
#    for word in words:
#        if word not in stopwords:
#            new_words.append(word)
#    return new_words
  
  
tokenizer = RegexpTokenizer(r'\w+')
df['SentimentText'] = df['SentimentText'].apply(tokenizer.tokenize)
df['SentimentText'] = [normalize(token) for token in df['SentimentText']]


cleaned_words = [word for tokens in df['SentimentText'] for word in tokens]
cleanedVOCAB = sorted(list(set(cleaned_words)))
display("%s words total, with a vocabulary size of %s" % (len(cleaned_words), len(cleanedVOCAB)))

display(df.head(20))

TypeError: ignored

### How should TF-IDF scores be interpreted? How are they calculated?

TF-IDF stands for **Term Frequency - Inverse Document Frequency**

**Term Frequency** shows how frequently an expression (term, word) occurs in a document, with the insight being that the more frequently a term is used, the greater its importance.  It is calculated by taking the number of times a word appears in a document, divided by the total number of words in that document

In sklearn TF-IDF Transformer it is caluclated by: ***tf(t, d)***

It is well understood however the correlation between Term Frequency != Importance in all cases. 
Often we see terms that occur so often they necessitate removal via stopwords removal, as they are trivial but frequent. Hence frequency alone is not conclusive. 

**Inverse Document Frequency**  It is a method of determining the frequency of a word within a dataset of texts. Imagine it as a ratio of all existing texts/documents of an entire dataset and the number of texts that contain the defined keyword.  

In sklearn TF-IDF Transformer it is caluclated by: ***idf(t) = log [ n / df(t) ] + 1***

n = total_#_of_documents
df(t) #_of_docs_containing_term;  the document frequency of t;  the number of documents in the document set that contain the term t. 

As the document Frequency grows this fraction (total/target) becomes smaller.

**TF-IDF** or more accurately (*TF* x *IDF*) is where we multiply the Term Frequency by the Inverse Document Frequency.  We essentially weight the Term Frequency by the Inverse Document Frequency so that words that occur too frequently are penalized, and words that may be more infrequent but appear across multiple documents are boosted.  This better helps sharpen the signal of our input data and allows our models to operate with a clearer distinction between signal (important words) & noise (frequent but inconsequential words).

# Part 3 - Document Classification

1) Use Train_Test_Split to create train and test datasets.

2) Vectorize the tokenized documents using your choice of vectorization method. 

 - Stretch goal: Use both of the methods that we talked about in class.

3) Create a vocabulary using the X_train dataset and transform both your X_train and X_test data using that vocabulary.

4) Use your choice of binary classification algorithm to train and evaluate your model's accuracy. Report both train and test accuracies.

 - Stretch goal: Use an error metric other than accuracy and implement/evaluate multiple classifiers.

In [0]:
##### Your Code Here #####

# Part 4 -  Word2Vec

1) Fit a Word2Vec model on your cleaned/tokenized twitter dataset. 

2) Display the 10 words that are most similar to the word "twitter"

In [0]:
##### Your Code Here #####